/** 
 * Apply site-local style 
 */

$font: sans-serif;

$border-radius: 1px;

body {
    font-family: $font;
}

ul.menu {
  list-style: none;
  padding: 12px 0px;
  border: solid 1px silver;
  border-width: 1px 0px;

  li {
    display: inline;
    padding: 5px;
  }

  li.active {
    background-color: #ccc;
  }

}

.form-group {
 
    input.form-control {
        border-radius: $border-radius;
        height: 32px;
        line-height: 1.25em;
        padding: 3px 9px;
        border: solid 1px #ccc;
    }
    
    input[type="file"] {
        padding: 4px 0px;
    }

    .input-group-addon {
        border-radius: $border-radius;
    }

    .btn {
        border-radius: 1px;
        padding: 4px 10px;
    }

    select {
        line-height: 1.25em;
        padding: 3px 9px;
    }
}

.horizontal-form legend {
    font-size: 1.35em;
} 

.progress {
    border-radius: 1px;
    border: solid 1px #ccc;
}

section {
   padding: 10px 0px;
}

section:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

button {
  padding: 3px;
  vertical-align: middle;
}

/* Counter Component */

div.counter-buttons, 
div.counter-value {
  float: left;
  padding: 10px 5px 10px 0px;
}

div.counter-value {
  padding: 12px 5px 12px 0px;
}

div.counter-value .value {
  font-family: monospace;
  font-size: 1.4em;
  padding: 0px 8px;
  margin: 0px 4px;
  border: solid 1px #ddd;
}

div.counter-buttons input {
  padding: 4px 0px;
  margin: 0px 3px;
}

/* Timer Component */

.timer { 
    .seconds { 
        color: blue;
        font-family: monospace;
        font-size: 1.3em;
    }
    .seconds.highlighted {
        color: orange;  
    }
}

/* Portals */

.foo-portal {
    margin: 10px 0px;
    padding: 5px 0px;
    background-color: #dde;
    border: solid 1px silver;
}
